
.App {
    text-align: center;
    background-color: #282c34; /* Fallback color */
    background-image: url(img/backgrounds/Torch-Wall-16.jpg);
    background-size: cover; /* Ensure the background covers the entire area */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    background-position: center; /* Center the background image */
    min-height: 200vh; /* Minimum height is 100% of the viewport height */
    padding: 100px; /* Add padding to see more background */
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column; /* Change to column if you want items stacked */
    align-items: center;
    justify-content: center;
}


.background {
    background-image: url(img/landing_backgrounds/Table-Gaming-21.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: #282c34;
    display: auto;
    height: 225vh;
    width: 100%;
}

.game-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.game-details {
    text-justify: center;
    position: relative;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    max-width: 300px;
    color: white;
    /* clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); */
}

.game-item {
    background-color: white;
    padding: 10px;
    display: flex;
    position: relative;
    overflow: hidden;
}

.game-background {
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
    position: relative;

}

.details {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    max-width: 300px;
    color: white;
    position: relative;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
}

.details h4, .details p {
    margin: 0;
    color: white;
}

.detail-header {
    margin-top: 80px;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.details-container {
    background-color: #fff;
    padding: 20px 30px;
    max-width: 800px;
    margin: 40px auto;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}
.navbar {
    background-color: rgba(30, 30, 30, 0.7);
    flex: none;
}
.navbar-nav .nav-link {
    padding: 10px 20px;
}

.navbar-brand img {
    height: 80px;
    width: auto;
}

.dashboard {
    size: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.dashboard-container {
    position: relative;
    width: 50%;
}

.dashboard-image{
    aspect-ratio: 1;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-style: solid;
    outline-width: 3px;
}

.dashboard-image:hover{
    color: #ffffff;
    opacity: 1;
    filter: grayscale(100%);
}

#dashboard {
    align-items: center;
}

.signup-button:hover{
    color: #2f3530;
    opacity: 1;
    filter: grayscale(100%);
}

.signin-button:hover{
    color: #2f3530;
    opacity: 1;
    filter: grayscale(100%);
}

.password-input-wrapper {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #555;
}


.meetup-card {
    position: relative;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: #000000da;
    /* clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%); */
    transition: opacity .2s ease-out 100ms;
}

.meetup-card:hover {
    opacity: 1;

}

.meetup-details {
    position: relative;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    max-width: 300px;
    color: white;
    clip-path: polygon(0 0, 95% 0, 95% 100%, 0% 100%);
}

@media (max-width: 1200px) {
    .main-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .main-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .App {
        background-size: contain; /* Change for smaller screens */
    }
}
