.profile-header, .user-info, .preferences, .charts, .games-played, .useful-links {
  margin-bottom: 20px;
  margin-top: 20%;
}

.profile-info {
  margin-left: 20px;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .profile-header, .user-info, .preferences, .charts, .games-played, .useful-links {
    flex-direction: column;
    align-items: center;
  }
}

.navbar {
  height: 10%;
}
